/* style.css
 * This file provides css styles.
 */
a {
	color: #595959;
}
a:hover {
	font-weight: bold;
	color:darkred;
	text-decoration:none;
}
.black-bar-container {
	overflow: auto;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	background: #595959;
	color: white;
	font-weight: bold;
	float: left;
	margin: auto;
	width: 100%;
	line-height:40px;
	height:40px;
	text-align:center
}
.khmenu {
	border-bottom: 2px solid #595959;
    border-bottom-left-radius: 90px;
    color: #595959;
}
.khmenu .icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 40px;
	display:none;
}
.khmenu a {
	font-size: 14px;
	font-weight:bold;
	padding:0px 20px 0px 20px;
}
.khmenu .close {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    display:none
}
@media screen and (max-width: 600px) {
  .khmenu a { display: none;}
  .khmenu a.icon {
    float: left;
    display: block;
  }
  /*.khmenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }*/
  
}
@media screen and (max-width: 600px) {
  .khmenu.responsive {
    border:none;
  }
  .khmenu.responsive .submenu {
	height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 1s;
    padding-top: 60px;
    border-right: 1px solid #595959;
    background-color: white
  }
  .khmenu.responsive a.icon {
    display: none;
  }
  .khmenu.responsive a.nav_item {
	display:block;
  }
  .khmenu.responsive a.close {
    display:block;
    color: gray;
  }
}
.container .contentPane {
	padding-top: 50px;
	display: none;
}
.container .contentPane.home {
	font-size: 50px;
    font-family: fantasy;
    color: #212529;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 20% 0 20% 0;
}
.container .contentPane .thumbnail .label {
	font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.container .contentPane .thumbnail {
    border: 5px double lightgray;
    padding: 10px;
    float: left;
    margin: 10px;
    height: 350px;
    min-width: 250px;
}
.container .contentPane .thumbnail .salePrice {
	display: inline-block;
    float: left;
    font-size: 20px;
    color: red;
    font-weight: 900;
}
.container .contentPane .thumbnail .originalPrice {
    font-weight: 800;
    font-size: 20px;
    float: left;
}
.container .contentPane .thumbnail .strikethrough {
	text-decoration-line: line-through;
    font-weight: 800;
    font-size: 20px;
    color: lightgray;
    float: left;
    padding-left: 20px;
}
.container .contentPane .thumbnail .button {
	clear: both;
    border-radius: 35px;
    float: right;
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
    text-align: right;
    cursor: pointer;
    font-weight:bold;
    border: 2px solid #595959;
    background-color: white;
    color: #595959;
}
.container .contentPane .thumbnail .button:hover {
    border: 2px solid white;
    background-color: #595959;
    color: white;
}
.container .contentPane .thumbnail img{
	max-width: 200px;
    max-height: 200px;
    display: block;
}
.container .contentPane.loading {
    background: url(/images/loading.gif) no-repeat 50% 35%;
    width: 100%;
    height: 100%;
}
.container .itemContainer img {
	height: 100px;
    float: left;
    border: 2px double gray;
    width: 100px;
    padding: 10px;
}
.container .itemContainer {
	display: block;
    height: 120px;
    border: 4px double lightgray;
    padding-top: 5px;
}
.container .itemContainer div {
    float: left;
    margin: 0px 15px 0px 15px;
    font-size: 16px;
    line-height: 100px;
    color: gray;
}
.container .itemContainer input {
	float: left;
	margin: 20px;
	padding: 10px;
	width: 35px;
}
.container .itemContainer .button {
	border-radius: 5px;
    padding: 0px 15px 0px 15px;
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #595959;
    background-color: white;
    color: #595959;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}
.container .itemContainer .button:hover {
	border: 2px solid white;
    background-color: #595959;
    color: white;
}
.container .loginContent label {
	font-size: 18px;
    clear: both;
    display: block;
    font-weight: bold;
}
.container .loginContent input {
    font-size: 14px;
    clear: both;
    display: block;
    font-weight: bold;
    margin: 20px 0px;
    width: 500px;
    border: 2px solid lightgray;
    padding: 5px;
}

.userInfo {
	position: absolute;
	right: 10px;
}
.userInfo a {
	padding-top: 10px;
	font-size:14px;
	font-weight: bold;
}
.userInfo .itemCount {
	padding-left: 10px;
}
.userInfo.out .signout, .userInfo.in .signin {
	display: none;
}
.userInfo.in .signout, .userInfo.out .signin {
	display: inline-block;
}